Repository KeYProject/key, pull requests merged in 2023-09, with the labels that each got.

#3275 Fix dependency issue in SMT translation
  key.core/src/main/java/de/uka/ilkd/key/smt/newsmt2/FieldConstantHandler.java
  key.core/src/main/java/de/uka/ilkd/key/smt/newsmt2/MasterHandler.java
  key.core/src/test/java/de/uka/ilkd/key/smt/newsmt2/MasterHandlerTest.java
  key.core/src/test/resources/de/uka/ilkd/key/smt/newsmt2/cases/heap2.props
Labels: SMT, Review Request

#3255 UI: avoid freeze when applying SMT results
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/SolverListener.java
Labels: GUI, SMT

#3249 Stop automode or exit on SIGINT
  key.ui/src/main/java/de/uka/ilkd/key/gui/WindowUserInterfaceControl.java
Labels: Feature, Robustness

#3284 Update gradle build action to most recent ones v2
  .github/workflows/update_symbex_oracles.yml
Labels: 🛠 Maintenance, Ignore in Changelog
