Repository KeYProject/key, pull requests merged in 2023-07, with the labels that each got.

#3192 Fix slicing bug with dependency contracts
  key.core/src/main/java/de/uka/ilkd/key/proof/io/IntermediateProofReplayer.java
  key.core/src/main/java/de/uka/ilkd/key/rule/UseDependencyContractApp.java
  key.core/src/main/java/de/uka/ilkd/key/rule/UseDependencyContractRule.java
  keyext.slicing/src/main/java/org/key_project/slicing/SlicingProofReplayer.java
  keyext.slicing/src/main/java/org/key_project/slicing/ui/SlicingLeftPanel.java
Labels: keyext.slicing

#3193 Allow selection of sub-nodes in OSS steps
  key.core/src/main/java/de/uka/ilkd/key/logic/Sequent.java
  key.ui/src/main/java/de/uka/ilkd/key/core/KeYSelectionModel.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/nodeviews/InnerNodeView.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/nodeviews/MainFrame.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/nodeviews/SequentView.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/nodeviews/TacletDescriber.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/GUIOneStepChildTreeNode.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/GUIProofTreeNode.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreeView.java
  key.util/src/main/java/org/key_project/util/java/StringUtil.java
  key.util/src/test/java/org/key_project/util/testcase/java/StringUtilTest.java
Labels: GUI, Feature, Review Request

#3184 towards fixing #1708
  key.core/src/main/java/de/uka/ilkd/key/speclang/jml/translation/JMLSpecFactory.java
Labels: :lady_beetle: Bug, Proof Loading/Saving, ✋ Soundness

#3197 Set location of all dialogs relative to parent
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/ShowActiveSettingsAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/lemmatagenerator/LemmaSelectionDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/lemmatagenerator/LoadUserTacletsDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SettingsManager.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/InformationWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/ProgressDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/utilities/StdDialog.java
Labels: GUI

#3178 Add context menu to proofs in task tree
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/TaskTree.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/AbandonTaskAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/ShowActiveTactletOptionsAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/ShowKnownTypesAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/ShowProofStatistics.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/ShowUsedContractsAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/extension/impl/KeYGuiExtensionFacade.java
Labels: GUI, Feature

#3117 Critical changes to the KeY parser/grammer for more performance
  key.core/src/main/antlr4/KeYParser.g4
  key.core/src/main/java/de/uka/ilkd/key/nparser/ParsingFacade.java
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/ExpressionBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/TacletPBuilder.java
Labels: KeY Parser

#3191 config codecov
  codecov.yml
Labels: Infrastructure

#3194 Checkstyle: ignore Javadoc warning on logger variables
  gradle/key_checks.xml
  scripts/tools/checkstyle/key_checks.xml
Labels: Infrastructure

#3179 Make settings dialog look nicer
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/MinimizeInteraction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SettingsDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SettingsManager.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SettingsPanel.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SettingsUi.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SimpleSettingsPanel.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/StandardUISettings.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/settings/SolverOptions.java
Labels: GUI, Review Request

#3198 Reduce clutter in toolbar
  key.ui/build.gradle
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/KeyAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/docking/DockingLayout.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/extension/impl/KeYGuiExtensionFacade.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/action_history/ActionHistoryExtension.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/action_history/StateChangeListener.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/action_history/UndoHistoryButton.java
  keyext.action_history/build.gradle
  keyext.action_history/src/main/resources/META-INF/services/de.uka.ilkd.key.gui.extension.api.KeYGuiExtension
  keyext.exploration/src/main/java/org/key_project/exploration/ExplorationExtension.java
  settings.gradle
Labels: GUI

#3187 Invariant free
  key.core/src/main/antlr4/JmlLexer.g4
  key.core/src/main/antlr4/JmlParser.g4
  key.core/src/main/java/de/uka/ilkd/key/java/JavaInfo.java
  key.core/src/main/java/de/uka/ilkd/key/logic/TermBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/logic/label/OriginTermLabel.java
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/ExpressionBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/proof/mgt/SpecificationRepository.java
  key.core/src/main/java/de/uka/ilkd/key/rule/tacletbuilder/TacletGenerator.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/ClassInvariant.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/ClassInvariantImpl.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/PartialInvAxiom.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/jml/JMLSpecExtractor.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/jml/pretranslation/TextualJMLClassInv.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/jml/pretranslation/TextualJMLConstruct.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/jml/translation/JMLSpecFactory.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/JmlTermFactory.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/TextualTranslator.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/Translator.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/translation/SLAttributeResolver.java
  key.ui/examples/index/default+performance.txt
  key.ui/examples/standard_key/java_dl/jml-free/InvariantFree.java
  key.ui/examples/standard_key/java_dl/jml-free/invFree1.key
  key.ui/examples/standard_key/java_dl/jml-free/invFree2.key
  key.ui/examples/standard_key/java_dl/jml-free/invFree3.key
  key.ui/examples/standard_key/java_dl/jml-free/invFree4.key
Labels: Feature, JML (Semantics)

#3201 Proof Management Command Line Tool (+ small GUI extension)
  key.core/src/main/java/de/uka/ilkd/key/proof/io/AbstractProblemLoader.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/IProofFileParser.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/IntermediatePresentationProofFileParser.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/IntermediateProofReplayer.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/OutputStreamProofSaver.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/intermediate/BuiltInAppIntermediate.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/intermediate/MergeAppIntermediate.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/intermediate/MergePartnerAppIntermediate.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/intermediate/SMTAppIntermediate.java
  key.ui/build.gradle
  key.ui/src/main/java/de/uka/ilkd/key/util/CommandLine.java
  keyext.proofmanagement/README.md
  keyext.proofmanagement/build.gradle
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/CheckConfigDialog.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/Main.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/ProofManagementExt.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/Checker.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/CheckerData.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/DependencyChecker.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/KeYFacade.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/MissingProofsChecker.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/Node.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/PathNode.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/ProofManagementException.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/ReplayChecker.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/SettingsChecker.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/dependency/ContractAppCollector.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/dependency/DependencyGraph.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/dependency/DependencyGraphBuilder.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/dependency/DependencyNode.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/check/dependency/NodeIntermediateWalker.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/io/DirectoryProofBundleHandler.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/io/HTMLReport.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/io/LogLevel.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/io/Logger.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/io/ProofBundleHandler.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/io/ZipProofBundleHandler.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/merge/FilesChecker.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/merge/ProofBundleMerger.java
  keyext.proofmanagement/src/main/resources/META-INF/services/de.uka.ilkd.key.gui.extension.api.KeYGuiExtension
  keyext.proofmanagement/src/main/resources/report/html/dependency/dep.st
  keyext.proofmanagement/src/main/resources/report/html/dependency/dependencies.st
  keyext.proofmanagement/src/main/resources/report/html/lines/contract.st
  keyext.proofmanagement/src/main/resources/report/html/lines/line.st
  keyext.proofmanagement/src/main/resources/report/html/lines/lines.st
  keyext.proofmanagement/src/main/resources/report/html/lines/prooflessContracts.st
  keyext.proofmanagement/src/main/resources/report/html/overview/globalprogress.st
  keyext.proofmanagement/src/main/resources/report/html/overview/overview.st
  keyext.proofmanagement/src/main/resources/report/html/report.st
  keyext.proofmanagement/src/main/resources/report/html/scripts.st
  keyext.proofmanagement/src/main/resources/report/html/settings/choices.st
  keyext.proofmanagement/src/main/resources/report/html/settings/settings.st
  keyext.proofmanagement/src/main/resources/report/html/style.st
  keyext.proofmanagement/src/main/resources/report/html/tree/dir.st
  keyext.proofmanagement/src/main/resources/report/html/tree/tree.st
  keyext.proofmanagement/src/main/resources/strings.properties
  settings.gradle
Labels: GUI, Proof Loading/Saving, Command Line Interface, Review Request, keyext.proofmanagement

#3207 Remove remains of Webstart (+ other maintenance)
  README.md
  deployment/KeY.jnlp
  key.ui/src/main/java/de/uka/ilkd/key/core/Main.java
  key.ui/src/main/java/de/uka/ilkd/key/core/WebstartMain.java
Labels: 🛠 Maintenance

#3162 Builtin rule to lift model methods to updates
  key.core/src/main/antlr4/KeYLexer.g4
  key.core/src/main/antlr4/KeYParser.g4
  key.core/src/main/java/de/uka/ilkd/key/nparser/varexp/TacletBuilderManipulators.java
  key.core/src/main/java/de/uka/ilkd/key/proof/init/JavaProfile.java
  key.core/src/main/java/de/uka/ilkd/key/rule/ObserverToUpdateRule.java
  key.core/src/main/java/de/uka/ilkd/key/rule/UseOperationContractRule.java
  key.core/src/main/java/de/uka/ilkd/key/rule/conditions/ModelFieldCondition.java
  key.core/src/main/java/de/uka/ilkd/key/rule/metaconstruct/MemberPVToField.java
  key.core/src/main/java/de/uka/ilkd/key/util/Union.java
  key.core/src/main/resources/de/uka/ilkd/key/proof/rules/javaRules.key
  key.core/src/test/java/de/uka/ilkd/key/util/UnionTest.java
  key.core/src/test/resources/de/uka/ilkd/key/nparser/taclets.old.txt
  key.util/src/main/java/org/key_project/util/collection/ImmutableList.java
Labels: Calculus

#3211 Workflow for testing releases
  .github/workflows/tests_winmac.yml
Labels: CI, 🛠 Maintenance

#3203 Fix automode freezing the UI
  key.core/src/main/java/de/uka/ilkd/key/proof/io/AbstractProblemLoader.java
  key.ui/src/main/java/de/uka/ilkd/key/core/Main.java
  key.ui/src/main/java/de/uka/ilkd/key/core/Watchdog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/WindowUserInterfaceControl.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/AutoModeAction.java
  key.ui/src/main/java/de/uka/ilkd/key/proof/io/ProblemLoader.java
  key.ui/src/main/java/de/uka/ilkd/key/ui/MediatorProofControl.java
  key.ui/src/main/java/de/uka/ilkd/key/util/ThreadUtilities.java
Labels: GUI

#3213 fixate bash as shell for dlsmt.sh
  .github/dlsmt.sh
  .github/workflows/tests.yml
  .github/workflows/tests_winmac.yml
Labels: Infrastructure

#3223 Update LICENSE.TXT to reflect GPL-2.0-only
  LICENSE.TXT
Labels: 🛠 Maintenance

#3226 Fix default look-and-feel in settings dialog
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/StandardUISettings.java
Labels: :lady_beetle: Bug, GUI

#3230 Generate configuration file 'proof-settings.prop' if none exists
  key.core/src/main/java/de/uka/ilkd/key/settings/ProofSettings.java
Labels: 🛠 Maintenance

#3216 Fix various UI bugs
  .github/workflows/code_quality.yml
  .github/workflows/codeql.yml
  .github/workflows/javadoc.yml
  .github/workflows/tests.yml
  LICENSE.TXT
  key.core/build.gradle
  key.core/src/main/java/de/uka/ilkd/key/proof/Proof.java
  key.core/src/main/java/de/uka/ilkd/key/proof/init/KeYUserProblemFile.java
  key.core/src/main/java/de/uka/ilkd/key/proof/reference/ReferenceSearcher.java
  key.core/src/main/java/de/uka/ilkd/key/prover/impl/DefaultTaskFinishedInfo.java
  key.core/src/main/java/de/uka/ilkd/key/rule/Taclet.java
  key.core/src/main/java/de/uka/ilkd/key/settings/ViewSettings.java
  key.core/src/test/java/de/uka/ilkd/key/proof/reference/TestReferenceSearcher.java
  key.core/src/test/resources/logback.xml
  key.core/src/test/resources/testcase/proofCaching/proofWithRule.proof
  key.core/src/test/resources/testcase/proofCaching/proofWithoutRule.proof
  key.ui/examples/firstTouch/08-Java5/src/For.java
  key.ui/src/main/java/de/uka/ilkd/key/core/Main.java
  key.ui/src/main/java/de/uka/ilkd/key/core/Watchdog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/HeatmapOptionsDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/IssueDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/ProofMacroWorker.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/ProofManagementDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/ProofScriptWorker.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/ProofSelectionDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/RecentFileMenu.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/SelectionHistory.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/TacletMatchCompletionDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/WindowUserInterfaceControl.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/AbandonTaskAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/GoalSelectAboveAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/GoalSelectBelowAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/LemmaGenerationAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/MainWindowAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/ProofScriptFromFileAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/SendFeedbackAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/keyshortcuts/KeyStrokeManager.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/lemmatagenerator/LoadUserTacletsDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/notification/actions/ExceptionFailureNotificationDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/notification/events/GeneralFailureEvent.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/caching/CachingExtension.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/caching/ReferenceSearchButton.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/caching/ReferenceSearchDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/caching/ReferenceSearchTable.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreeSearchBar.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreeSettingsMenuFactory.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreeView.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/FontSizeFacade.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SettingsDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/ProgressDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/ui/MediatorProofControl.java
  key.ui/src/main/java/org/key_project/util/java/SwingUtil.java
  key.ui/src/test/java/de/uka/ilkd/key/gui/ChaosMonkey.java
  key.ui/src/test/resources/logback.xml
  key.util/src/main/java/org/key_project/util/java/SwingUtil.java
  keyext.ui.testgen/src/main/java/de/uka/ilkd/key/gui/testgen/CounterExampleAction.java
  keyext.ui.testgen/src/main/java/de/uka/ilkd/key/gui/testgen/TGInfoDialog.java
  keyext.ui.testgen/src/main/java/de/uka/ilkd/key/gui/testgen/TestGenerationAction.java
Labels: GUI, Infrastructure, 🛠 Maintenance
