Repository KeYProject/key, pull requests merged in 2023-11, with the labels that each got.

#3222 Print real condition in if labels
  key.core/src/main/java/de/uka/ilkd/key/java/visitor/JavaASTCollector.java
  key.core/src/main/java/de/uka/ilkd/key/logic/OpCollector.java
  key.core/src/main/java/de/uka/ilkd/key/logic/OpCollectorJavaBlock.java
  key.core/src/main/java/de/uka/ilkd/key/logic/op/ProgramVariable.java
  key.core/src/main/java/de/uka/ilkd/key/proof/NodeInfo.java
  key.core/src/main/java/org/key_project/proof/LocationVariableTracker.java
  key.ui/src/main/java/de/uka/ilkd/key/core/KeYMediator.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/WindowUserInterfaceControl.java
Labels: GUI, Feature, Reviewer Feedback

#3282 Update to Java 21 Runtime for Testing
  .github/workflows/code_quality.yml
  .github/workflows/gradle-publish.yml
  .github/workflows/javadoc.yml
  .github/workflows/opttest.yml
  .github/workflows/tests.yml
  .github/workflows/tests_winmac.yml
  .github/workflows/update_symbex_oracles.yml
Labels: CI, 🛠 Maintenance

#3348 Add help buttons to extension settings
  key.ui/src/main/java/de/uka/ilkd/key/gui/IssueDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/KeYProjectHomepageAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/extension/ExtensionManager.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/help/HelpFacade.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/help/HelpInfo.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/caching/CachingExtension.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SimpleSettingsPanel.java
  key.ui/src/main/java/org/key_project/util/java/SwingUtil.java
  keyext.exploration/src/main/java/org/key_project/exploration/ExplorationExtension.java
  keyext.proofmanagement/src/main/java/org/key_project/proofmanagement/ProofManagementExt.java
  keyext.slicing/src/main/java/org/key_project/slicing/SlicingExtension.java
Labels: GUI

#3018 suggesting a pull-request-template.
  .github/pull_request_template.md
Labels: Infrastructure, Review Request

#3359 Re-enable check for non-unique taclet names and remove two taclet duplicates
  key.core/src/main/java/de/uka/ilkd/key/proof/init/KeYUserProblemFile.java
  key.core/src/main/java/de/uka/ilkd/key/proof/mgt/RuleJustificationInfo.java
  key.core/src/main/resources/de/uka/ilkd/key/proof/rules/wdNumericalRules.key
Labels: :lady_beetle: Bug, Proof Loading/Saving, java

#3355 Avoid name clashes in rule applyUpdateOnRigid
  key.core/src/main/java/de/uka/ilkd/key/rule/conditions/ApplyUpdateOnRigidCondition.java
  key.core/src/test/java/de/uka/ilkd/key/rule/conditions/TestApplyUpdateOnRigidCondition.java
Labels: Prover Core, Review Request

#3247 Add a configuration for automatic generation of changelogs by Github
  .github/release.yml
Labels: Infrastructure, Ignore in Changelog
