Repository KeYProject/key, pull requests merged in 2023-08, with the labels that each got.

#3233 Fix for #3072: Add an additional node when closing via SMT
  key.core/src/main/java/de/uka/ilkd/key/macros/scripts/SMTCommand.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Goal.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Proof.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Statistics.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/IntermediateProofReplayer.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/OutputStreamProofSaver.java
  key.core/src/main/java/de/uka/ilkd/key/proof/replay/AbstractProofReplayer.java
  key.core/src/main/java/de/uka/ilkd/key/rule/RuleAppUtil.java
  key.core/src/main/java/de/uka/ilkd/key/smt/RuleAppSMT.java
  key.core/src/main/java/de/uka/ilkd/key/smt/SMTFocusResults.java
  key.core/src/main/java/de/uka/ilkd/key/smt/SMTRuleApp.java
  key.core/src/test/java/de/uka/ilkd/key/smt/TestUnsatCore.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/GoalBackAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/useractions/ProofSMTApplyUserAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/nodeviews/InnerNodeView.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/SolverListener.java
  keyext.slicing/src/main/java/org/key_project/slicing/analysis/DependencyAnalyzer.java
  keyext.slicing/src/test/java/org/key_project/slicing/EndToEndTests.java
Labels: :lady_beetle: Bug, SMT

#3232 Fix more UI bugs
  key.ui/src/main/java/de/uka/ilkd/key/core/Watchdog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/IssueDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/ShowProofStatistics.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/keyshortcuts/KeyStrokeSettings.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/caching/CachingException.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/caching/DefaultReferenceSearchDialogListener.java
Labels: GUI

#3235 Fix infinite loop in MainWindow construction
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/FontSizeFacade.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/StandardUISettings.java
  key.ui/src/main/java/org/key_project/util/java/SwingUtil.java
Labels: GUI

#3236 Fix most remaining font scaling issues
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/configuration/Config.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/nodeviews/SequentViewChangeListener.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreeView.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/FontSizeFacade.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SettingsUi.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/StandardUISettings.java
Labels: GUI

#3239 Fix NPE if there is no most recent file (+ other bugfixes)
  key.core/src/main/java/de/uka/ilkd/key/proof/mgt/ProofCorrectnessMgt.java
  key.ui/examples/firstTouch/09-Quicktour/paycard/LogFile.java
  key.ui/examples/index/samplesIndex.txt
  key.ui/src/main/java/de/uka/ilkd/key/gui/RecentFileMenu.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/EditMostRecentFileAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/OpenMostRecentFileAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/caching/CachingExtension.java
  key.ui/src/main/resources/de/uka/ilkd/key/gui/actions/runallproofsui.txt
  keyext.ui.testgen/src/main/java/de/uka/ilkd/key/gui/testgen/CounterExampleAction.java
  keyext.ui.testgen/src/main/java/de/uka/ilkd/key/gui/testgen/TestGenerationAction.java
Labels: GUI

#3250 Update BSH dependency of recoder
  recoder/build.gradle
Labels: 🛠 Maintenance

#3241 Post-Release 2.12.0: Java and Version
  .github/workflows/artiweb.yml
  .github/workflows/code_quality.yml
  .github/workflows/gradle-publish.yml
  .github/workflows/javadoc.yml
  .github/workflows/opttest.yml
  .github/workflows/tests.yml
  .github/workflows/tests_winmac.yml
  .github/workflows/update_symbex_oracles.yml
  .gitlab-ci.yml
  build.gradle
Labels: Infrastructure
