Repository KeYProject/key, pull requests merged in 2023-10, with the labels that each got.

#3283 Problem statements in KeY file can now also be a (semi-)sequent
  key.core/src/main/antlr4/KeYParser.g4
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/ProblemFinder.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Proof.java
  key.core/src/main/java/de/uka/ilkd/key/proof/init/KeYUserProblemFile.java
  key.core/src/test/java/de/uka/ilkd/key/rule/CreateTacletForTests.java
Labels: KeY Parser, Feature, Review Request

#3258 Misc. UI fixes
  build.gradle
  key.core/build.gradle
  key.core/src/main/java/de/uka/ilkd/key/control/KeYEnvironment.java
  key.core/src/main/java/de/uka/ilkd/key/java/Services.java
  key.core/src/main/java/de/uka/ilkd/key/logic/label/TermLabelManager.java
  key.core/src/main/java/de/uka/ilkd/key/macros/ProofMacroFinishedInfo.java
  key.core/src/main/java/de/uka/ilkd/key/macros/StrategyProofMacro.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Statistics.java
  key.core/src/main/java/de/uka/ilkd/key/proof/reference/ReferenceSearcher.java
  key.core/src/main/java/de/uka/ilkd/key/smt/communication/ExternalProcessLauncher.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/JmlChecks.java
  key.core/src/test/java/de/uka/ilkd/key/proof/TestOneStepSimplifier.java
  key.core/src/test/java/de/uka/ilkd/key/proof/replay/TestCopyingReplayer.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/njml/NJmlTranslatorTests.java
  key.core/src/test/java/de/uka/ilkd/key/util/TestEqualsModProofIrrelevancy.java
  key.ui/src/main/java/de/uka/ilkd/key/core/KeYMediator.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/WindowUserInterfaceControl.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/AutoModeAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/GUIProofTreeModel.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreePopupFactory.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreeView.java
  keyext.slicing/src/main/java/org/key_project/slicing/analysis/DependencyAnalyzer.java
Labels: GUI, 🛠 Maintenance

#3287 SMT: add Z3_QF variant
  key.core/build.gradle
  key.core/src/main/resources/de/uka/ilkd/key/smt/solvertypes/Z3_QF.props
Labels: SMT, Review Request

#3224 Fix for issue #3158
  key.core.proof_references/src/test/java/de/uka/ilkd/key/proof_references/testcase/analyst/TestClassAxiomAndInvariantProofReferencesAnalyst.java
  key.core.symbolic_execution/src/test/java/de/uka/ilkd/key/symbolic_execution/testcase/AbstractSymbolicExecutionTestCase.java
  key.core.symbolic_execution/src/test/java/de/uka/ilkd/key/symbolic_execution/testcase/po/TestFunctionalOperationContractPO.java
  key.core.symbolic_execution/src/test/resources/testcase/set/allNodeTypesTest/test/AllNodeTypesTest.proof
  key.core.symbolic_execution/src/test/resources/testcase/set/allNodeTypesTest/test/AllNodeTypesTest_VerificationProfile.proof
  key.core.symbolic_execution/src/test/resources/testcase/set/allNodeTypesTest/test/AllNodeTypesTest_VerificationProfile_NoOneStepSimplification.proof
  key.core/src/main/java/de/uka/ilkd/key/logic/Term.java
  key.core/src/main/java/de/uka/ilkd/key/logic/TermImpl.java
  key.core/src/main/java/de/uka/ilkd/key/logic/VariableNamer.java
  key.core/src/main/java/de/uka/ilkd/key/proof/ProgVarReplacer.java
  key.core/src/main/java/de/uka/ilkd/key/rule/executor/javadl/TacletExecutor.java
  key.core/src/main/resources/de/uka/ilkd/key/proof/rules/loopScopeRules.key
  key.core/src/test/java/de/uka/ilkd/key/logic/TestVariableNamer.java
  key.core/src/test/resources/de/uka/ilkd/key/nparser/taclets.old.txt
  key.ui/examples/firstTouch/05-ReverseArray/reverseArray.proof
  key.ui/examples/heap/permutedSum/perm.proof
  key.ui/examples/standard_key/arith/jdivevenodd.key.proof
  key.ui/examples/standard_key/java_dl/continue1.key.proof
  key.ui/examples/standard_key/java_dl/continue2.key.proof
  key.ui/examples/standard_key/pred_log/count.key.proof
  key.ui/examples/standard_key/pred_log/equalities2.key.proof
  keyext.slicing/src/test/java/org/key_project/slicing/EndToEndTests.java
Labels: Calculus

#3294 Update beanshell to 2.0b6
  recoder/build.gradle
Labels: dependencies

#3296 Backport of KEY-2.12.1 into main
  build.gradle
  key.core/build.gradle
  key.core/src/main/java/de/uka/ilkd/key/control/KeYEnvironment.java
  key.core/src/main/java/de/uka/ilkd/key/java/Services.java
  key.core/src/main/java/de/uka/ilkd/key/logic/label/TermLabelManager.java
  key.core/src/main/java/de/uka/ilkd/key/macros/ProofMacroFinishedInfo.java
  key.core/src/main/java/de/uka/ilkd/key/macros/StrategyProofMacro.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Statistics.java
  key.core/src/main/java/de/uka/ilkd/key/proof/reference/ReferenceSearcher.java
  key.core/src/main/java/de/uka/ilkd/key/smt/communication/ExternalProcessLauncher.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/JmlChecks.java
  key.core/src/main/java/de/uka/ilkd/key/util/MiscTools.java
  key.core/src/test/java/de/uka/ilkd/key/proof/TestOneStepSimplifier.java
  key.core/src/test/java/de/uka/ilkd/key/proof/replay/TestCopyingReplayer.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/njml/NJmlTranslatorTests.java
  key.core/src/test/java/de/uka/ilkd/key/util/TestEqualsModProofIrrelevancy.java
  key.ui/src/main/java/de/uka/ilkd/key/core/KeYMediator.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/WindowUserInterfaceControl.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/AutoModeAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/GUIProofTreeModel.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreePopupFactory.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreeView.java
  keyext.slicing/src/main/java/org/key_project/slicing/analysis/DependencyAnalyzer.java
Labels: :lady_beetle: Bug

#3298 Fix wrong quicksave failed warning
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/QuickSaveAction.java
Labels: :lady_beetle: Bug, GUI

#3299 Update nightlydeploy.yml
  .github/workflows/nightlydeploy.yml
Labels: 🛠 Maintenance, Ignore in Changelog

#3306 Fix for issue #3286: Parsing of rule display names that contain spaces in origin labels
  key.core/src/main/java/de/uka/ilkd/key/logic/label/OriginTermLabelFactory.java
Labels: :lady_beetle: Bug, Proof Loading/Saving

#3304 Restore TermImpl to package private and strengthen immutability of term and sorts
  key.core/src/main/java/de/uka/ilkd/key/logic/LabeledTermImpl.java
  key.core/src/main/java/de/uka/ilkd/key/logic/TermFactory.java
  key.core/src/main/java/de/uka/ilkd/key/logic/TermImpl.java
  key.core/src/main/java/de/uka/ilkd/key/logic/sort/AbstractSort.java
  key.core/src/main/java/de/uka/ilkd/key/logic/sort/ArraySort.java
  key.core/src/main/java/de/uka/ilkd/key/logic/sort/GenericSort.java
  key.core/src/main/java/de/uka/ilkd/key/logic/sort/ProgramSVSort.java
  key.core/src/main/java/de/uka/ilkd/key/logic/sort/ProxySort.java
  key.core/src/main/java/de/uka/ilkd/key/logic/sort/Sort.java
  key.core/src/main/java/de/uka/ilkd/key/logic/sort/SortImpl.java
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/DeclarationBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/ExpressionBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/rule/inst/SVInstantiations.java
  key.core/src/main/java/de/uka/ilkd/key/taclettranslation/lemma/GenericRemovingLemmaGenerator.java
  key.core/src/main/java/de/uka/ilkd/key/taclettranslation/lemma/UserDefinedSymbols.java
Labels: 🛠 Maintenance, java

#3308 Regression test for fixed issue #3286
  key.core/src/test/java/de/uka/ilkd/key/logic/label/OriginTermLabelTest.java
Labels: :lady_beetle: Bug, Proof Loading/Saving, Ignore in Changelog

#3314 Stricter enforcement of Java AST immutability
  key.core/src/main/java/de/uka/ilkd/key/java/reference/FieldReference.java
  key.core/src/main/java/de/uka/ilkd/key/java/reference/SchematicFieldReference.java
  key.core/src/main/java/de/uka/ilkd/key/java/reference/TypeRef.java
  key.core/src/main/java/de/uka/ilkd/key/java/statement/Ccatch.java
  key.core/src/main/java/de/uka/ilkd/key/java/statement/MethodBodyStatement.java
Labels: 🛠 Maintenance, java, Ignore in Changelog

#3317 Small bug fixes and minor cleanup
  key.core/src/main/antlr4/JmlLexer.g4
  key.core/src/main/java/de/uka/ilkd/key/control/instantiation_model/TacletAssumesModel.java
  key.core/src/main/java/de/uka/ilkd/key/control/instantiation_model/TacletFindModel.java
  key.core/src/main/java/de/uka/ilkd/key/java/JavaInfo.java
  key.core/src/main/java/de/uka/ilkd/key/java/KeYProgModelInfo.java
  key.core/src/main/java/de/uka/ilkd/key/java/Services.java
  key.core/src/main/java/de/uka/ilkd/key/logic/TermBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/logic/VariableNamer.java
  key.core/src/main/java/de/uka/ilkd/key/logic/label/TermLabelOperationsInterpreter.java
  key.core/src/main/java/de/uka/ilkd/key/logic/sort/ArraySort.java
  key.core/src/main/java/de/uka/ilkd/key/pp/LogicPrinter.java
  key.core/src/main/java/de/uka/ilkd/key/proof/init/AbstractPO.java
  key.core/src/main/java/de/uka/ilkd/key/proof/init/ProblemInitializer.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/LDTInput.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/OutputStreamProofSaver.java
  key.core/src/main/java/de/uka/ilkd/key/rule/inst/GenericSortInstantiations.java
  key.core/src/main/java/de/uka/ilkd/key/rule/inst/SVInstantiations.java
  key.core/src/main/java/de/uka/ilkd/key/rule/match/vm/TermNavigator.java
  key.core/src/main/java/de/uka/ilkd/key/rule/metaconstruct/ConstructorCall.java
  key.core/src/main/java/de/uka/ilkd/key/rule/tacletbuilder/TacletGoalTemplate.java
  key.core/src/main/java/de/uka/ilkd/key/settings/ChoiceSettings.java
  key.core/src/main/java/de/uka/ilkd/key/smt/AbstractSMTTranslator.java
  key.core/src/main/java/de/uka/ilkd/key/smt/SmtLib2Translator.java
  key.core/src/main/java/de/uka/ilkd/key/smt/model/LocationSet.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/ClassInvariantImpl.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/InitiallyClauseImpl.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/WellDefinednessCheck.java
  key.core/src/main/java/de/uka/ilkd/key/strategy/feature/AbstractNonDuplicateAppFeature.java
  key.core/src/main/java/de/uka/ilkd/key/util/KeYResourceManager.java
  key.core/src/test/java/de/uka/ilkd/key/proof/runallproofs/ProveTest.java
  key.core/src/test/java/de/uka/ilkd/key/proof/runallproofs/proofcollection/ProofCollectionSettings.java
  key.core/src/test/java/de/uka/ilkd/key/rule/TacletForTests.java
  key.ui/src/main/java/de/uka/ilkd/key/core/Main.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/InvariantConfigurator.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/ProofManagementDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/SelectionBackAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/ToggleSequentViewTooltipAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/lemmatagenerator/LemmataAutoModeOptions.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/plugins/action_history/UndoHistoryButton.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreeSearchBar.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/sourceview/SourceView.java
  key.util/src/main/java/org/key_project/util/Filenames.java
  key.util/src/main/java/org/key_project/util/collection/KeYCollections.java
  keyext.slicing/src/main/java/org/key_project/slicing/ui/ShowGraphAction.java
  recoder/src/main/java/recoder/bytecode/ByteCodeParser.java
  recoder/src/main/java/recoder/io/PathList.java
  recoder/src/main/java/recoder/kit/PackageKit.java
  recoder/src/main/java/recoder/kit/TypeKit.java
Labels: 🛠 Maintenance, java, Ignore in Changelog

#3316 Allow origin labels to be switched off completely
  key.core.symbolic_execution/src/main/java/de/uka/ilkd/key/symbolic_execution/util/SymbolicExecutionUtil.java
  key.core.testgen/src/main/java/de/uka/ilkd/key/testgen/ProofInfo.java
  key.core/src/main/java/de/uka/ilkd/key/control/instantiation_model/TacletAssumesModel.java
  key.core/src/main/java/de/uka/ilkd/key/control/instantiation_model/TacletFindModel.java
  key.core/src/main/java/de/uka/ilkd/key/informationflow/macros/AbstractFinishAuxiliaryComputationMacro.java
  key.core/src/main/java/de/uka/ilkd/key/informationflow/po/snippet/ReplaceAndRegisterMethod.java
  key.core/src/main/java/de/uka/ilkd/key/informationflow/rule/tacletbuilder/AbstractInfFlowUnfoldTacletBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/java/Services.java
  key.core/src/main/java/de/uka/ilkd/key/java/recoderext/JMLTransformer.java
  key.core/src/main/java/de/uka/ilkd/key/logic/TermBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/logic/label/OriginTermLabel.java
  key.core/src/main/java/de/uka/ilkd/key/logic/label/OriginTermLabelFactory.java
  key.core/src/main/java/de/uka/ilkd/key/logic/label/TermLabel.java
  key.core/src/main/java/de/uka/ilkd/key/logic/label/TermLabelManager.java
  key.core/src/main/java/de/uka/ilkd/key/proof/NodeInfo.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Proof.java
  key.core/src/main/java/de/uka/ilkd/key/proof/ProofJavaSourceCollection.java
  key.core/src/main/java/de/uka/ilkd/key/proof/ReplacementMap.java
  key.core/src/main/java/de/uka/ilkd/key/proof/init/AbstractOperationPO.java
  key.core/src/main/java/de/uka/ilkd/key/proof/init/FunctionalOperationContractPO.java
  key.core/src/main/java/de/uka/ilkd/key/proof/init/ProblemInitializer.java
  key.core/src/main/java/de/uka/ilkd/key/rule/executor/javadl/RewriteTacletExecutor.java
  key.core/src/main/java/de/uka/ilkd/key/rule/label/OriginTermLabelPolicy.java
  key.core/src/main/java/de/uka/ilkd/key/rule/label/OriginTermLabelRefactoring.java
  key.core/src/main/java/de/uka/ilkd/key/rule/metaconstruct/arith/Monomial.java
  key.core/src/main/java/de/uka/ilkd/key/rule/metaconstruct/arith/Polynomial.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/ContractFactory.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/jml/JMLSpecExtractor.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/jml/translation/JMLSpecFactory.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/JmlIO.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/LabeledParserRuleContext.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/PreParser.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/TextualTranslator.java
  key.core/src/main/java/de/uka/ilkd/key/strategy/quantifierHeuristics/TriggersSet.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/ContractFactoryTest.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/jml/TestJMLPreTranslator.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/jml/pretranslation/TextualJMLAssertStatementTest.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/njml/MethodlevelTranslatorTest.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/njml/NJmlTranslatorTests.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/njml/TextualTranslatorTest.java
  key.ui/examples/performance-test/Dynamic(Dynamic__foo_08()).JML_operation_contract.0.key
  key.ui/src/main/java/de/uka/ilkd/key/gui/TacletMatchCompletionDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/originlabels/ToggleTermOriginTrackingAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/sourceview/SourceView.java
Labels: :lady_beetle: Bug, 🛠 Maintenance, java

#3325 A heap indicator in KeY's status bar
  key.core/src/main/resources/META-INF/services/de.uka.ilkd.key.proof.init.DefaultProfileResolver
  key.ui/src/main/java/de/uka/ilkd/key/core/Main.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/utilities/HeapStatusExt.java
  key.ui/src/main/resources/META-INF/services/de.uka.ilkd.key.gui.extension.api.KeYGuiExtension
Labels: GUI

#3326 fix ClassCastException in LogicPrinter
  key.core/src/main/java/de/uka/ilkd/key/pp/LogicPrinter.java
Labels: :lady_beetle: Bug

#3331 Fix broken addLabel Method in TermBuilder
  key.core/src/main/java/de/uka/ilkd/key/logic/TermBuilder.java
Labels: :lady_beetle: Bug
