Repository KeYProject/key, pull requests merged in 2023-05, with the labels that each got.

#3063 Re-apply view filter when switching proof
  key.ui/src/main/java/de/uka/ilkd/key/core/KeYMediator.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/GUIProofTreeModel.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/prooftree/ProofTreeView.java
Labels: :lady_beetle: Bug, GUI

#3085 Enhance SMT nodes: save solver type & unsat core
  key.core/src/main/java/de/uka/ilkd/key/macros/scripts/SMTCommand.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Node.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/IProofFileParser.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/IntermediatePresentationProofFileParser.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/IntermediateProofReplayer.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/OutputStreamProofSaver.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/intermediate/SMTAppIntermediate.java
  key.core/src/main/java/de/uka/ilkd/key/rule/RuleApp.java
  key.core/src/main/java/de/uka/ilkd/key/settings/ProofIndependentSMTSettings.java
  key.core/src/main/java/de/uka/ilkd/key/smt/RuleAppSMT.java
  key.core/src/main/java/de/uka/ilkd/key/smt/SMTFocusResults.java
  key.core/src/main/java/de/uka/ilkd/key/smt/SMTProblem.java
  key.core/src/main/java/de/uka/ilkd/key/smt/communication/Z3Socket.java
  key.core/src/main/java/de/uka/ilkd/key/smt/newsmt2/ModularSMTLib2Translator.java
  key.core/src/test/java/de/uka/ilkd/key/smt/TestSMTFocusResults.java
  key.core/src/test/java/de/uka/ilkd/key/smt/TestUnsatCore.java
  key.core/src/test/java/de/uka/ilkd/key/util/TestEqualsModProofIrrelevancy.java
  key.core/src/test/resources/testcase/smt/unsatCore.proof
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/useractions/ProofSMTApplyUserAction.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/ProgressDialog.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/SMTFocusResults.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/SolverListener.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/settings/SMTSettingsProvider.java
  keyext.slicing/src/main/java/org/key_project/slicing/DependencyTracker.java
  keyext.slicing/src/main/java/org/key_project/slicing/SlicingProofReplayer.java
Labels: Proof Loading/Saving, SMT

#3087 Update the oracle of symbolic execution inside a workflow
  .github/workflows/update_symbex_oracles.yml
  key.core.symbolic_execution/build.gradle
  key.core.symbolic_execution/src/test/java/de/uka/ilkd/key/symbolic_execution/testcase/AbstractSymbolicExecutionTestCase.java
  key.core.symbolic_execution/src/test/resources/logback.xml
  key.core/src/main/antlr4/gen/KeYLexer.java
Labels: Infrastructure

#3078 fixing error reporting in AbstractBuilder
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/AbstractBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/DefaultBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/ExpressionBuilder.java
Labels: :lady_beetle: Bug

#3013 Fix non duplicate feature perf
  key.core/src/main/java/de/uka/ilkd/key/java/ServiceCaches.java
  key.core/src/main/java/de/uka/ilkd/key/strategy/feature/AbstractNonDuplicateAppFeature.java
  key.core/src/main/java/de/uka/ilkd/key/strategy/feature/AppliedRuleAppsNameCache.java
  key.core/src/main/java/de/uka/ilkd/key/strategy/feature/EqNonDuplicateAppFeature.java
  key.core/src/main/java/de/uka/ilkd/key/strategy/feature/NonDuplicateAppFeature.java
  key.core/src/main/java/de/uka/ilkd/key/strategy/feature/NonDuplicateAppModPositionFeature.java
Labels: 🛠 Maintenance

#3042 Fix CVC4 solver socket handling of newlines
  key.core/src/main/java/de/uka/ilkd/key/smt/communication/CVC4Socket.java
Labels: :lady_beetle: Bug, SMT

#3152 Test parsing exceptions in JML and Java parsing
  key.core/src/main/java/de/uka/ilkd/key/java/Recoder2KeY.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/njml/JMLParserExceptionTest.java
  key.core/src/test/resources/de/uka/ilkd/key/speclang/njml/exceptional/Bevhavioural.java
  key.core/src/test/resources/de/uka/ilkd/key/speclang/njml/exceptional/IllegalInv.java
  key.core/src/test/resources/de/uka/ilkd/key/speclang/njml/exceptional/README.md
  key.core/src/test/resources/de/uka/ilkd/key/speclang/njml/exceptional/TypeError.java
  key.core/src/test/resources/de/uka/ilkd/key/speclang/njml/exceptional/UnknownVar.java
  key.core/src/test/resources/de/uka/ilkd/key/speclang/njml/exceptional/UnknownVarInJML.java
Labels: JML Parser, JavaJMLParser, Test cases
