Repository KeYProject/key, pull requests merged in 2024-04, with the labels that each got.

#3454 Boyer Moore Majority Vote
  key.core/src/test/java/de/uka/ilkd/key/proof/runallproofs/ProofCollections.java
  key.ui/examples/heap/BoyerMoore/BM(BM__bm((I)).JML normal_behavior operation contract.0.proof
  key.ui/examples/heap/BoyerMoore/BM(BM__count((I,_bigint,_bigint)).JML accessible clause.0.proof
  key.ui/examples/heap/BoyerMoore/BM(BM__count((I,_bigint,_bigint)).JML model_behavior operation contract.0.proof
  key.ui/examples/heap/BoyerMoore/BM(BM__monoLemma((I,int,int)).JML normal_behavior operation contract.0.proof
  key.ui/examples/heap/BoyerMoore/README.txt
  key.ui/examples/heap/BoyerMoore/src/BoyerMoore.java
  key.ui/examples/index/samplesIndex.txt
Labels: Review Request

#3453 Fixes a StackOverflow when pretty printing a taclet
  key.core/src/main/java/de/uka/ilkd/key/pp/LogicPrinter.java
  key.core/src/test/java/de/uka/ilkd/key/pp/LogicPrinterTest.java
Labels: :lady_beetle: Bug, Review Request

#3438 Fix newnames handling for new local vars
  key.core/src/main/java/de/uka/ilkd/key/java/KeYJavaASTFactory.java
  key.core/src/main/java/de/uka/ilkd/key/logic/VariableNamer.java
  key.core/src/main/java/de/uka/ilkd/key/proof/NameRecorder.java
  key.core/src/main/java/de/uka/ilkd/key/rule/metaconstruct/InitArrayCreation.java
  keyext.slicing/src/test/java/org/key_project/slicing/Issue3437Test.java
  keyext.slicing/src/test/resources/testcase/issues/3437/Newnames(Newnames__createArray()).JML normal_behavior operation contract.0.proof
  keyext.slicing/src/test/resources/testcase/issues/3437/Newnames.java
Labels: Proof Loading/Saving

#3460 Add key features for the FM tutorial
  key.core/src/main/antlr4/JmlParser.g4
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/Translator.java
Labels: JML Parser, JML (Semantics)
