Repository KeYProject/key, pull requests merged in 2024-02, with the labels that each got.

#3302 Fix passing of warnings
  key.core/src/main/java/de/uka/ilkd/key/nparser/KeyIO.java
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/DeclarationBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/nparser/builder/FunctionPredicateBuilder.java
  key.core/src/main/java/de/uka/ilkd/key/proof/init/KeYUserProblemFile.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/KeYFile.java
  key.core/src/main/java/de/uka/ilkd/key/proof/io/LDTInput.java
  key.core/src/main/java/de/uka/ilkd/key/util/parsing/BuildingIssue.java
  key.core/src/test/java/de/uka/ilkd/key/parser/TestTermParser.java
Labels: :lady_beetle: Bug, GUI, Reviewer Feedback

#3305 Proof caching: use dependency graph to increase hit rate
  key.core/src/main/java/de/uka/ilkd/key/java/Comment.java
  key.core/src/main/java/de/uka/ilkd/key/java/declaration/MethodDeclaration.java
  key.core/src/main/java/de/uka/ilkd/key/java/declaration/Throws.java
  key.core/src/main/java/de/uka/ilkd/key/logic/Semisequent.java
  key.core/src/main/java/de/uka/ilkd/key/logic/op/ProgramMethod.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Node.java
  key.core/src/main/java/de/uka/ilkd/key/proof/Proof.java
  key.core/src/main/java/de/uka/ilkd/key/proof/SubtreeIterator.java
  key.core/src/main/java/de/uka/ilkd/key/proof/reference/ClosedBy.java
  key.core/src/main/java/de/uka/ilkd/key/proof/reference/CopyReferenceResolver.java
  key.core/src/main/java/de/uka/ilkd/key/proof/replay/CopyingProofReplayer.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/QueryAxiom.java
  key.core/src/main/java/de/uka/ilkd/key/speclang/jml/JMLInfoExtractor.java
  key.core/src/test/java/de/uka/ilkd/key/logic/TestSemisequent.java
  key.core/src/test/java/de/uka/ilkd/key/proof/replay/TestCopyingReplayer.java
  key.ui/build.gradle
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainWindow.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/actions/ShowProofStatistics.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/settings/SettingsPanel.java
  key.ui/src/main/resources/de/uka/ilkd/key/gui/images/closed-cached.png
  keyext.caching/build.gradle
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/CachedProofBranch.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/CachingException.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/CachingExtension.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/CachingPruneHandler.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/DefaultReferenceSearchDialogListener.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/ReferenceSearchButton.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/ReferenceSearchDialog.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/ReferenceSearchDialogListener.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/ReferenceSearchTable.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/actions/CloseAllByReference.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/actions/CloseByReference.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/actions/CopyReferencedProof.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/actions/GotoReferenceAction.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/actions/RemoveCachingInformationAction.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/settings/CachingSettingsProvider.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/settings/ProofCachingSettings.java
  keyext.caching/src/main/java/de/uka/ilkd/key/gui/plugins/caching/toolbar/CachingToggleAction.java
  keyext.caching/src/main/java/de/uka/ilkd/key/proof/reference/ProgramMethodFinder.java
  keyext.caching/src/main/java/de/uka/ilkd/key/proof/reference/ReferenceSearcher.java
  keyext.caching/src/test/java/de/uka/ilkd/key/proof/reference/TestReferenceSearcher.java
  keyext.caching/src/test/resources/testcase/proofCaching/proofWithRule.proof
  keyext.caching/src/test/resources/testcase/proofCaching/proofWithoutRule.proof
  keyext.slicing/build.gradle
  keyext.slicing/src/main/java/org/key_project/slicing/DependencyTracker.java
  keyext.slicing/src/main/java/org/key_project/slicing/SlicingProofReplayer.java
  keyext.slicing/src/main/java/org/key_project/slicing/analysis/AnalysisResults.java
  keyext.slicing/src/main/java/org/key_project/slicing/analysis/DependencyAnalyzer.java
  keyext.slicing/src/main/java/org/key_project/slicing/graph/AnnotatedEdge.java
  keyext.slicing/src/main/java/org/key_project/slicing/graph/AnnotatedShortenedEdge.java
  keyext.slicing/src/main/java/org/key_project/slicing/graph/DependencyGraph.java
  keyext.slicing/src/main/java/org/key_project/slicing/graph/DotExporter.java
  keyext.slicing/src/main/java/org/key_project/slicing/graph/EquivalenceDirectedGraph.java
  keyext.slicing/src/main/java/org/key_project/slicing/ui/SlicingLeftPanel.java
  settings.gradle
Labels: Feature, Reviewer Feedback, keyext.slicing, keyext.caching

#3392 Always sort extension actions in context submenus (+bugfix to allow disabling extensions)
  key.core/src/main/java/de/uka/ilkd/key/settings/ProofIndependentSettings.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/extension/impl/ExtensionSettings.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/extension/impl/KeYGuiExtensionFacade.java
Labels: :lady_beetle: Bug, GUI

#3398 Activate the OverloadedOperatorHandler.java for Sequence datatype
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/OverloadedOperatorHandler.java
  key.core/src/test/java/de/uka/ilkd/key/speclang/jml/TestJMLTranslator.java
Labels: :lady_beetle: Bug

#3429 Fix position info for equality expr errors
  key.core/src/main/java/de/uka/ilkd/key/speclang/njml/Translator.java
  key.core/src/test/resources/de/uka/ilkd/key/speclang/njml/exceptional/TypeError.java
Labels: JML Parser

#3374 JML enabled keys indicator for the Status Line
  key.core/src/main/java/de/uka/ilkd/key/settings/GeneralSettings.java
  key.ui/build.gradle
  key.ui/src/main/java/de/uka/ilkd/key/gui/JmlEnabledKeysIndicator.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/MainStatusLine.java
  key.ui/src/main/resources/META-INF/services/de.uka.ilkd.key.gui.extension.api.KeYGuiExtension
Labels: GUI

#3418 Hackeython smt mod
  key.core/src/main/java/de/uka/ilkd/key/smt/newsmt2/IntegerOpHandler.java
  key.core/src/test/java/de/uka/ilkd/key/smt/newsmt2/TestSMTMod.java
  key.core/src/test/resources/testcase/smt/modSpec.key
Labels: SMT, HacKeYthon
