Repository KeYProject/key, pull requests merged in 2025-05, with the labels that each got.

#3592 SMT test cases rework
  key.core/src/main/java/de/uka/ilkd/key/settings/ProofIndependentSMTSettings.java
  key.core/src/main/java/de/uka/ilkd/key/smt/SMTFocusResults.java
  key.core/src/main/java/de/uka/ilkd/key/smt/SMTSolverResult.java
  key.core/src/main/java/de/uka/ilkd/key/smt/communication/CVC4Socket.java
  key.core/src/main/java/de/uka/ilkd/key/smt/communication/Cvc5Socket.java
  key.core/src/main/java/de/uka/ilkd/key/smt/communication/Z3CESocket.java
  key.core/src/main/java/de/uka/ilkd/key/smt/communication/Z3Socket.java
  key.core/src/main/java/de/uka/ilkd/key/smt/newsmt2/ModularSMTLib2Translator.java
  key.core/src/main/java/de/uka/ilkd/key/smt/solvertypes/SolverPropertiesLoader.java
  key.core/src/main/java/de/uka/ilkd/key/smt/solvertypes/SolverTypes.java
  key.core/src/main/resources/de/uka/ilkd/key/smt/solvertypes/AddingSMTSolvers.md
  key.core/src/main/resources/de/uka/ilkd/key/smt/solvertypes/CVC4.props
  key.core/src/main/resources/de/uka/ilkd/key/smt/solvertypes/CVC4_legacy.props
  key.core/src/main/resources/de/uka/ilkd/key/smt/solvertypes/CVC5.props
  key.core/src/main/resources/de/uka/ilkd/key/smt/solvertypes/Z3_legacy.props
  key.core/src/test/java/de/uka/ilkd/key/smt/SMTTestSettings.java
  key.core/src/test/java/de/uka/ilkd/key/smt/newsmt2/TestSMTMod.java
  key.core/src/test/java/de/uka/ilkd/key/smt/test/SMTSolverTest.java
  key.core/src/test/java/de/uka/ilkd/key/smt/test/SMTTestCommons.java
  key.core/src/test/java/de/uka/ilkd/key/smt/test/TestCvc4.java
  key.core/src/test/java/de/uka/ilkd/key/smt/test/TestSMTSolver.java
  key.core/src/test/java/de/uka/ilkd/key/smt/test/TestZ3.java
  key.core/src/test/java/de/uka/ilkd/key/smt/test/Z3LegacyTest.java
  key.core/src/test/java/de/uka/ilkd/key/smt/test/Z3Test.java
  key.ui/src/main/java/de/uka/ilkd/key/gui/smt/settings/SMTSettingsProvider.java
Labels: :lady_beetle: Bug, Feature, SMT, Test cases

#3600 Warn on missing SMT solvers if flag is set
  key.core/src/test/java/de/uka/ilkd/key/smt/SmtTestUtils.java
  key.core/src/test/java/de/uka/ilkd/key/smt/TestUnsatCore.java
  key.core/src/test/java/de/uka/ilkd/key/smt/newsmt2/MasterHandlerTest.java
  key.core/src/test/java/de/uka/ilkd/key/smt/newsmt2/TestSMTMod.java
  key.core/src/test/java/de/uka/ilkd/key/smt/test/Cvc5Test.java
  key.core/src/test/java/de/uka/ilkd/key/smt/test/SMTTestCommons.java
  key.core/src/test/java/de/uka/ilkd/key/util/LineProperties.java
Labels: SMT, Test cases, CI, Review Request

#3514 Isabelle Translation
  .gitlab-ci.yml
  build.gradle
  key.ui/build.gradle
  keyext.isabelletranslation/build.gradle
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/IsabelleSettingsProvider.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/IsabelleTranslationExtension.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/IsabelleTranslationSettings.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleLauncher.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleLauncherListener.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleNotFoundException.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleProblem.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleResource.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleResourceController.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleResult.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleRuleApp.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleSledgehammerSolver.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleSolver.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/automation/IsabelleSolverListener.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/gui/InformationWindow.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/gui/IsabelleProgressDialog.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/gui/IsabelleProgressModel.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/gui/IsabelleProofApplyUserAction.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/gui/controller/IsabelleLauncherProgressDialogMediator.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/gui/controller/IsabelleTranslateAllAction.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/gui/controller/IsabelleTranslationAction.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/BSumHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/BooleanOpHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/DefinedSymbolsHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/FieldHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/IllegalFormulaException.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/InfiniteUnionHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/InstanceOperatorHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/IntegerOpHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/IsabelleHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/IsabelleHandlerServices.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/IsabelleMasterHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/IsabelleTranslator.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/LogicalVariableHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/NumberConstantsHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/ObserverFunctionHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/PolymorphicHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/QuantifierHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/SeqDefHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/SortDependingFunctionHandler.java
  keyext.isabelletranslation/src/main/java/org/key_project/isabelletranslation/translation/UninterpretedSymbolsHandler.java
  keyext.isabelletranslation/src/main/resources/META-INF/services/de.uka.ilkd.key.gui.extension.api.KeYGuiExtension
  keyext.isabelletranslation/src/main/resources/org/key_project/isabelletranslation/ROOT
  keyext.isabelletranslation/src/main/resources/org/key_project/isabelletranslation/root.tex
  keyext.isabelletranslation/src/main/resources/org/key_project/isabelletranslation/translation/DefinedSymbolsHandler.preamble.xml
  keyext.isabelletranslation/src/main/resources/org/key_project/isabelletranslation/translation/IntegerOpHandler.preamble.xml
  keyext.isabelletranslation/src/main/resources/org/key_project/isabelletranslation/translation/defaultHandlers.txt
  settings.gradle
Labels: GUI, Feature, Reviewer Feedback, Java, External Solvers
